@model ChangeMyPasswordModel

@{
    ViewData["Title"] = "Mon compte";
}

<h2>Mon compte</h2>

<h3>Changer le mot de passe pour <strong>@Model.Login</strong></h3>

<form id="formChangePassword" asp-action="ChangePassword">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Login" />
    <div class="form-group">
        <label asp-for="OldPassword" class="control-label"></label>
        <input asp-for="OldPassword" class="form-control" />
        <span asp-validation-for="OldPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="NewPassword" class="control-label"></label>
        <input asp-for="NewPassword" class="form-control" />
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="NewPasswordConfirm" class="control-label"></label>
        <input asp-for="NewPasswordConfirm" class="form-control" />
        <span id="spanValidationConfirm" asp-validation-for="NewPasswordConfirm" class="text-danger"></span>
    </div>
    <div class="form-group" style="float:right">
        <input type="submit" value="Changer le mot de passe" class="btn btn-success" onclick="return validate();" />
        <a asp-action="Index" class="btn btn-default">Annuler</a>
    </div>
</form>

<div class="clearfix"></div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script type="text/javascript">

    function validate() {

        if ($("#NewPassword").val() != $("#NewPasswordConfirm").val()) {
            $("#spanValidationConfirm").html("Les mots de passes ne correspondent pas");
            $("#spanValidationConfirm").show();
            return false;
        } 

        return true;
    }

</script>
}