@model dal.models.Centre

@{
    ViewData["Title"] = "Supprimer";
}

<h2>Gestion des centres</h2>

<h3>Confirmez-vous la suppression du centre suivant ?</h3>

<div class="alert alert-danger">
    <p>
        Avant de supprimer un centre, vous devez déplacer les bénévoles sur un autre centre sinon vous risquez de supprimer les bénévoles associés à ce centre.
    </p>
</div>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Adresse)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Adresse)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Supprimer" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-link">Retourner à la liste</a>
    </form>
</div>
