@model dal.models.ViewModelBaremeFiscalLigne

@{
    ViewData["Title"] = "Taux kilométriques";
}

<h2>Taux kilométriques</h2>

@if(!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
<div class="alert alert-danger">
    @ViewBag.ErrorMessage
</div>
}


<form asp-action="Index" id="formBareme">

    @if (Model.ListYears != null)
    {
        <label>Sélectionner une année :</label>
        <select id="selectYear" name="selectYear" class="form-control" style="max-width:300px;">
            <option></option>
        @foreach (var year in Model.ListYears)
        {
            <option value="@year">@year</option>
        }
        </select>
        <hr />
    }

        <div id="TblRates"></div>           
</form>

@section scripts
    {
    <script type="text/javascript">

        $(document).ready(function () {

            $('#selectYear').on('change', function () {
                var sel = $('select#selectYear option:selected').val();
                if (sel !== undefined) {
                    getRates(sel);
                }
                
            });
           

        });

        function getRates(Year) {

           
            $.ajax({
                url: '@Url.Action("GetRates")',
                data: { year: Year },                
                type: 'POST',               
                success: function (data) {
                    $('#TblRates').html(data);
                    $('.alert').remove();
                },
                error: function (data) {
                    alert('Une erreur est apparue pendant le chargement des bénévoles');
                }
            });
        }
    </script>
}
