@model dal.models.Benevole

@{
    ViewData["Title"] = "Modifier";
}

<h2>Gestion des bénévoles</h2>

<h3>Modifier le bénévole</h3>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Nom" class="control-label required"></label>
                <input asp-for="Nom" class="form-control" />
                <span asp-validation-for="Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prenom" class="control-label required"></label>
                <input asp-for="Prenom" class="form-control" />
                <span asp-validation-for="Prenom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telephone" class="control-label required"></label>
                <input asp-for="Telephone" class="form-control" />
                <span asp-validation-for="Telephone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NbChevauxFiscauxVoiture" class="control-label"></label>
                <input asp-for="NbChevauxFiscauxVoiture" class="form-control" />
                <span asp-validation-for="NbChevauxFiscauxVoiture" class="text-danger"></span>
            </div>
            <div class="alert alert-warning">
                <p><b>Note importante</b> : Si le nombre de chevaux fiscaux change au cours de l'année, le calcul des frais pourra être erroné et <b>nécessitera un calcul manuel</b></p>
            </div>
            <div class="form-group">
                <input type="submit" value="Modifier" class="btn btn-success" />
                <a asp-action="Details" asp-route-id="@Model.ID" class="btn btn-link">Retourner à la fiche du bénévole</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}