
@{
    ViewData["Title"] = "Pas de centre";
}

<h2>Pas de centre</h2>

<p>Veuillez créer au moins un centre avant de créer des bénévoles</p>

<p>Vous pouvez @Html.ActionLink("cliquer ici", "Create", "Centres") pour créer un centre</p>