
@{
    ViewData["Title"] = "Aucun centre";
}

<h2>Gestion des bénévoles</h2>

<h3>Aucun centre</h3>

<div class="alert alert-danger">
    <p>Veuillez définir au moins un centre avant de créer des bénévoles</p>
    <p>Vous pouvez @Html.ActionLink("cliquer ici", "Create", "Centres") pour créer un centre</p>
</div>