@model web.Models.LoginPasswordModel

@{
    ViewData["Title"] = "Pointages bénévoles : Accueil";
}

<div class="row">
    <div class="col-xs-12 text-center">
        <h1>Gestion des pointages des bénévoles</h1>
    </div>

    <div class="col-xs-12 col-md-3">
        <div>
            <img src="~/images/restos.png" title="Restaurants du coeur" style="width:100%" />
        </div>
    </div>

    <div class="col-xs-12 col-md-6">

        <div class="panel panel-default">
            @if (!User.Identity.IsAuthenticated)
            {
                <div class="panel-heading">
                    <h2 class="panel-title">Connexion</h2>
                </div>
                <div class="panel-body">

                    <p>Bienvenue sur la Gestion des pointages des bénévoles. Veuillez vous identifier pour accéder à l'application.</p>

                    <form method="post">
                        <div class="form-horizontal">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Login" class="col-md-2 control-label"></label>
                                <div class="col-md-10">
                                    <input asp-for="Login" class="form-control" />
                                    <span asp-validation-for="Login" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Password" class="col-md-2 control-label"></label>
                                <div class="col-md-10">
                                    <input type="password" asp-for="Password" class="form-control" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group" style="float:right;margin-right:4px">
                                <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-log-in"></i> Se connecter</button>
                            </div>
                        </div>
                    </form>
                </div>
            }
            else
            {
                <div class="panel-heading">
                    <h2 class="panel-title">Accueil</h2>
                </div>
                <div class="panel-body">
                    <p>Bienvenue <strong>@User.Identity.Name</strong></p>
                    @if (User.IsInRole("SuperAdmin"))
                    {
                        <p>
                            <span>En tant qu'administrateur général, vous avez la possibilité de :</span>
                            <ul>
                                <li><a asp-action="Index" asp-controller="Benevoles">Effectuer des pointages</a> des bénévoles affiliés à tous les centres</li>
                                <li><a asp-action="Index" asp-controller="Benevoles">Gérer des bénévoles</a> sur tous les centres</li>
                                <li><a asp-action="Index" asp-controller="Centres">Gérer les centres</a></li>
                                <li><a asp-action="Index" asp-controller="Utilisateurs">Gérer les comptes utilisateurs</a></li>
                                <li><a asp-action="Index" asp-controller="Parametres">Gérer les paramètres annexes</a> (taux kilométrique ...)</li>
                                <li><a asp-action="Index" asp-controller="Administration">Administrer l'application</a></li>
                            </ul>
                        </p>
                    }
                    else
                    {
                        <p>
                            <span>Vous avez la possibilité de :</span>
                            <ul>
                                <li><a asp-action="Index" asp-controller="Benevoles">Effectuer des pointages</a> des bénévoles affiliés à votre centre</li>
                                <li><a asp-action="Index" asp-controller="Benevoles">Gérer des bénévoles</a> sur votre centre</li>
                            </ul>
                        </p>
                    }
                    <div class="form-group" style="float:right;margin-right:4px">
                        <a class="btn btn-primary" asp-action="Logout" asp-controller="Account"><i class="glyphicon glyphicon-log-out"></i> Se déconnecter</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
