@{
    ViewData["Title"] = "Légal";
}
<h2><a name="license" style="text-decoration:none">Licence</a></h2>

<p>
    <em>Gestion des bénévoles</em> est un projet open source sous licence <a href="https://github.com/reality77/rcbenevoles/blob/master/LICENSE">GPL V3</a>
</p>
<p>
    Le code source est hébergé sur <a href="https://github.com/reality77/rcbenevoles">github.com</a>
</p>

<h2><a name="privacy" style="text-decoration:none">Données personnelles</a></h2>

<p>
    Les données personnelles de bénévoles des Restaurants du Coeur sont hébergées sur ce site. Aucune de ces données ne sera transmises à des tiers. 
</p>
<p>
    Données personnelles hébergées :

    <ul>
        <li>Nom et prénom</li>
        <li>Adresses postales</li>
        <li>Numéro de téléphone</li>
        <li>Centres de bénévolat et distances des centres</li>
        <li>Pointages réalisés par le bénévole sur le(s) centre(s) dont il dépend</li>
    </ul>
</p>
<p>
    Si vous êtes un bénévole, et souhaitez corriger des informations vous concernant ou que vous ne souhaitez plus apparaître dans la base de données, veuillez contacter le responsable du centre de bénévolat qui pourra modifier ou supprimer votre fiche sur simple demande.
</p>

<h2><a name="components" style="text-decoration:none">Composants</a></h2>

<p>Des composants open source sont utilisés dans ce site</p>
<ul>
    <li><a href="https://getbootstrap.com/">bootstrap</a> sous licence <a href="https://github.com/twbs/bootstrap/blob/master/LICENSE">MIT</a></li>
    <li><a href="https://serilog.net/">Serilog</a> sous licence <a href="https://github.com/serilog/serilog/blob/dev/LICENSE">Apache License 2.0</a></li>
    <li><a href="https://github.com/reality77/rcbenevoles/network/dependencies">Autres dépendances</a></li>
</ul>