body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/**********************************************************************/

#calendar {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    color: #333;
}

#calendar th {
    text-align: center;
}

#calendar th.month_selector {
    border-bottom: 2px solid #ddd;
    text-align: center;
    font-size: x-large;
}

/* Calendrier : Pointages */
.pointage {
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
}

.pointage.day_disabled {
    background-color: #cfcfcf;
}

.pointage.none {
    background: none;
}

.pointage.full {
    background-color: #7cdc8e;
}

.pointage.half {
    background-color: #dde5b0;
}

.pointage.unselected > div {
    margin:4px;
}

.pointage.selected > div {
    margin:0px;
    border-width: 4px;
    border-style: solid;
    border-color: red;
}

.calendarday {
    vertical-align: middle;
    text-align: center;
    font-size: large;
    padding: 4px;
}

.calendarday.current_month {
    color: black;
}

.calendarday.other_month {
    color: gray;
}

.calendarday.day_disabled {
    color: gray;
}

.yellow {
    color: #d1b951;
}

.blue {
    color: cornflowerblue;
}

.required:after {
    content: "*";
    font-weight: bold;
    color: red;
    margin-left:2px;
}