@model IEnumerable<BenevolePointageListItemModel>

@{
    Layout = null;
}

<tbody id="updateBody">
@foreach (var item in Model) {
    <tr>
        <td>
            <span>@Html.DisplayFor(modelItem => item.BenevoleNom)</span>&nbsp;
        </td>
        <td>
            <span>@Html.DisplayFor(modelItem => item.BenevolePrenom)</span>
        </td>
        <td>
            <a asp-action="Benevole" asp-route-id="@item.BenevoleID"><i class="glyphicon glyphicon-calendar"></i>Accéder aux pointages</a>
        </td>
    </tr>
}
</tbody>
