@model dal.models.Utilisateur

@{
    ViewData["Title"] = "Details";
}

<h2>Gestion des utilisateurs</h2>

<h3>Détail de l'utilisateur</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Login)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Login)
        </dd>
        <dt>
            Centre géré
        </dt>
        <dd>
            @if (Model.Centre == null)
            {
                <span>Tous les centres (Super Administrateur)</span>
            }
            else
            {
                @Html.DisplayFor(model => model.Centre.Nom)
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID"><i class="glyphicon glyphicon-edit"></i> Modifier</a>
    <a asp-action="Index" class="btn btn-link">Retourner à la liste</a>
</div>